# Dependencies
node_modules
.pnpm-store/

# Build outputs
dist
build
out

# TypeScript
*.tsbuildinfo

# Environment files
.env
.env.*
!.env.example

# IDE and editor files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.swp
*.swo
.DS_Store

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Turbo
.turbo

# Testing
coverage

# Vite
*.local

# Misc
.cache
.temp
*.log
.vscode
apps/backend/backend-app

# Go workspace file
go.work
go.work.sum
