@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;900&display=swap');
@import "tailwindcss";

@theme {
  --dark-bg: #131415; /* #27282a */
  --dark-secondary: #242426;
  --dark-active: #3b3b3e;
  --dark-accent: #3d3e40;
  --dark-element: #3d3e42; 
  --dark-orange-accent: #ff5724;
  --dialog-dark-backdrop-bg: color-mix(in oklab, var(--dark-bg) /* oklch(52.7% 0.154 150.069) */ 75%, transparent);
 }

@layer components {
  html {
    font-family: "Plus Jakarta Sans", system-ui, sans-serif;
  }

  .sidebar-icon {
    @apply  flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto
       bg-[var(--dark-element)] hover:bg-gray-900
        text-[var(--text-light)] hover:text-white hover:rounded-xl rounded-lg
        transition-all duration-300 ease-linear cursor-pointer shadow-lg;
  }

  .sidebar-icon-selected {
    @apply bg-green-700/85 text-white hover:text-white rounded-xl cursor-pointer shadow-lg;
  }

  .sidebar-tooltip {
    @apply  w-auto p-2 m-2 min-w-max left-17 rounded-md 
      shadow-md text-white bg-gray-900 text-xs font-bold transition-all duration-100 scale-0 origin-left;
  }

  .sidebar-hr {
    @apply bg-gray-800 border-2 rounded-full mx-2;
  }

  .channel-block {
    @apply flex  items-center h-16 m-0 p-0 ml-4 text-white;
  }

  

  .channel-selection-text {
    @apply text-gray-500 font-semibold tracking-wide mr-auto transition duration-300 ease-in-out hover:text-pink-500 dark:hover:text-gray-500 cursor-pointer;
  }

  .twemoji {
    @apply h-7 w-7 flex-shrink-0;
  }

  .main-button {
    @apply relative inline-flex  items-center justify-center cursor-pointer
      select-none rounded-2xl ease-in-out
       text-white border-[2px] border-white/10 backdrop-blur-[25px] 
       bg-origin-border 
       bg-[linear-gradient(104deg,rgba(253,253,253,0.05)_5%,rgba(240,240,228,0.1)_100%)] 
       shadow-sm not-disabled:hover:bg-white/90
        not-disabled:hover:text-black 
        transition-all duration-200 disabled:opacity-30 
         disabled:text-white/50 focus-visible:ring-4
          focus-visible:ring-white/30 focus-visible:outline-hidden focus-visible:bg-white/90
           focus-visible:text-black after:absolute after:w-[calc(100%+4px)] 
           after:h-[calc(100%+4px)] after:top-[-2px] after:left-[-2px] after:rounded-[1rem] 
            after:bg-repeat after:pointer-events-none text-base h-12 gap-0 px-5 font-semibold;
  }

  .waitlist {
    @apply rounded-2xl ease-in-out
       text-white border-[2px] border-white/10 backdrop-blur-[25px] 
       bg-origin-border 
       bg-[linear-gradient(104deg,rgba(253,253,253,0.05)_5%,rgba(240,240,228,0.1)_100%)] 
       shadow-sm  
        not-disabled:hover:text-black 
        transition-all duration-200 disabled:opacity-30 
         disabled:text-white/50 focus-visible:ring-4 
            text-base gap-0 px-5 font-semibold
  }
}


@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    margin-left: 5px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: var(--bg-dark);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--dark-secondary);
    border-radius: 100vh;
    border: 1px solid var(--dark-secondary);
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--dark-element);
  }

   .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}